[submodule "Android-ViewPagerIndicator"]
	path = Android-ViewPagerIndicator
	url = git@github.com:iFixit/Android-ViewPagerIndicator.git
[submodule "AndroidSectionHeaders"]
	path = AndroidSectionHeaders
	url = git@github.com:iFixit/AndroidSectionHeaders.git
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git@github.com:iFixit/ActionBarSherlock.git
[submodule "ImageZoomLibrary"]
	path = ImageZoomLibrary
	url = git@github.com:iFixit/ImageZoomLibrary.git
[submodule "AndroidImageManager"]
	path = AndroidImageManager
	url = git@github.com:iFixit/AndroidImageManager.git
[submodule "HoloEverywhere"]
	path = HoloEverywhere
	url = https://github.com/iFixit/HoloEverywhere.git
