<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dozuki.ifixit"
      android:versionCode="7"
      android:versionName="1.1.1">
   <uses-sdk android:minSdkVersion="8"
         android:targetSdkVersion="15" />
   <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

   <application android:name=".MainApplication"
            android:icon="@drawable/icon_ifixit"
            android:label="@string/app_name_ifixit"
            android:theme="@style/Theme.iFixit">
      <service android:name=".util.APIService"/>
      <activity android:name=".view.ui.TopicsActivity"></activity>
      <activity android:name=".dozuki.ui.SiteListActivity"
                android:launchMode="singleTop" >
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
         <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
         </intent-filter>
         <meta-data android:name="android.app.searchable"
            android:resource="@xml/dozuki_searchable"/>
         <meta-data android:name="android.app.default_searchable"
            android:value=".SiteListActivity" />
      </activity>
      <activity android:name=".view.ui.TopicViewActivity"></activity>
      <activity android:name=".view.ui.GuideViewActivity">
         <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http"
                  android:host="www.ifixit.com"
                  android:pathPrefix="/Guide/" />
            <data android:scheme="http"
                  android:host="www.ifixit.com"
                  android:pathPrefix="/Teardown/" />
            <data android:scheme="http"
                  android:host="www.ifixit.com"
                  android:pathPrefix="/Project/" />
         </intent-filter>
      </activity>
      <activity android:name=".view.ui.FullImageViewActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar">
      </activity>
   </application>
</manifest>
