<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.dozuki.ifixit.ui.topic_view.TopicActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.dozuki.ifixit.ui.guide.view.GuideViewActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="http"
                    android:host="www.ifixit.com"
                    android:pathPrefix="/Guide/"/>
                <data
                    android:scheme="http"
                    android:host="www.ifixit.com"
                    android:pathPrefix="/Teardown/"/>
                <!-- Duplicates for https. -->
                <data
                    android:scheme="https"
                    android:host="www.ifixit.com"
                    android:pathPrefix="/Guide/"/>
                <data
                    android:scheme="https"
                    android:host="www.ifixit.com"
                    android:pathPrefix="/Teardown/"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
